h1 {
    font-weight: bold;
    color: blue;
}

body {
    background-image: url('https://media.giphy.com/media/xP1w2aLHpnwWY/giphy.gif');
}

#premium {
    align-items: center;
    color: blue;
    margin: 0 auto;
}

